.menu {
  position: absolute;
  width: 100%;
  background-color: var(--Bprimary-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu:not(.dnune) {
  transform: translate(-40px, -45px);
  opacity: 1;
  display: block;
}

.dnune {
  transform: translate(-32px, -255px);
  display: block;
  opacity: 0;
}

.xbtn {
  position: absolute;
  top: 7%;
  left: 95%;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.xbtn:hover {
  rotate: 180deg;
}

.menu li {
  height: 30px;
  margin: 10px;
  transition: 0.3s;
  border-bottom: 0.1px solid var(--border-color);
}

.menu li:hover {
  font-size: large;
}

@media (min-width: 700px) {
  .menu {
    display: none;
  }
}
