@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rnslyt');
  src:  url('fonts/icomoon.eot?rnslyt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rnslyt') format('truetype'),
    url('fonts/icomoon.woff?rnslyt') format('woff'),
    url('fonts/icomoon.svg?rnslyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e906";
}
.icon-x1:before {
  content: "\e904";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-verified:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e903";
}
.icon-sun-stroke:before {
  content: "\e901";
}
.icon-moon-stroke:before {
  content: "\e902";
}
