@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?um19j');
  src:  url('fonts2/icomoon.eot?um19j#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.ttf?um19j') format('truetype'),
    url('fonts2/icomoon.woff?um19j') format('woff'),
    url('fonts2/icomoon.svg?um19j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
