.contant {
    gap: 18px;
    /* align-items: start; */
    flex-direction: column;
    align-items: center;
}

.left-sec {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.left-sec button {
    background-color: var(--Bprimary-color);
    width: 150px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px var(--Wsecondary-color);
    color: var(--text-primary);
    transition: .3s;
}

.left-sec button.active {
    background-color: var(--hover-color);
    border: 2px solid var(--border-color);
    font-weight: bold;
    letter-spacing: 2px;
}

.left-sec button:hover {
    background-color: var(--hover-color);
}

.right-sec {
    /* flex-grow: 1; */
    background-color: var(--Bprimary-color);
    flex-wrap: wrap;
    gap: 18px;
    padding-left: .5px;
    justify-content: center;
}

.right-sec .card {
    border: 2px solid var(--border-color);
    transition: .3s;
    margin: 1px;
}

.right-sec .card:hover {
    box-shadow: 0px 0px 15px .5px var(--Wsecondary-color);
    transform: translateY(-5px) rotate(3deg);
    scale: 1.01;
    cursor: pointer;
}

.right-sec .card img {
    height: 140px;
    width: 240px;
}

.right-sec .box {
    padding: 10px 8px;
    width: 240px;
}

.right-sec .box title {
    color: var(--text-primary);
}

.right-sec .box p {
    color: var(--text-secondary);
    font-size: 15px;
    letter-spacing: 1px;
    margin: 8px 0;
}
.card .box .last {
    justify-content: space-between;
}
.card .box .last .icons {
    gap: 10px;
    color: var(--text-secondary);
    height: 30px;
}

.card .box .last .icons div {
    transition: .3s;
    font-size: 20px;
    cursor: pointer;
}

.card .box .last .icons div:hover {
    color: var(--text-primary);
    transform: translateX(3px) scale(1.2);
}

.card .box .last a {
    font-size: 15px;
    color: rgb(59, 140, 191);
    gap: 5px;
}

.card .box .last a span {
    align-self:self-end;
}

@media(max-width: 600px) {
    .contant {
        flex-direction: column;
        align-items: center;
    }
    
    .left-sec {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .left-sec button {
        width: 120px;
    }
}