.footer {
    justify-content: space-between;
    padding-bottom: 16px;
}

.footer ul {
    gap: 10px;
}

.footer ul a {
    color: var(--text-secondary);
    font-size: 16px;
    display: flex;
    transition: .3s;
}

.footer ul a:hover {
    color: var(--text-primary);
    transform: translateY(-5px);
    font-weight: bold;
}

.footer p {
    color: var(--text-secondary);
    font-weight: 100;
}

@media(max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 12px;
    }
}